html, body {
    margin: 0;
    padding: 0;
    background-color: black; /* Black bars */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#game-container {
    width: 1600px;
    height: 900px;
    background: #222; /* Game background */
    position: relative;
}
