#screen-container {
    width: 2400px;
    height: 1350px;
    position: absolute;
    transform-origin: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.3); /* Adds soft glow around container */
}


/* General text scaling */
body {
    font-size: calc(100px * var(--scale-factor));
}

/* Navigation bar text */
.nav-bar .score {
    font-size: calc(100px * var(--scale-factor));
    font-weight: bold;
    color: #fff;
}
