#cash-world-grid-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#cash-world-grid {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(240, 10px);
    grid-template-rows: repeat(117, 10px);
    transform-origin: center;
}

.tile {
    width: 10px;
    height: 10px;
    background-color: #7ec850; /* Default: Grassland */
    border: 0.5px solid #aaa;
}

#cash-world-container {
    display: block !important;
    width: 100%;
    height: 100vh;
    background-color: #4CAF50; /* Temporary color */
}

