/* Animations for score changes */
.increase {
  animation: cashIncrease 0.3s ease-in-out;
}

.decrease {
  animation: cashDecrease 0.3s ease-in-out;
}

@keyframes cashIncrease {
  0% {
    color: green;
    transform: translateY(5px) scale(1.1);
    opacity: 0.5;
  }
  100% {
    color: white;
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes cashDecrease {
  0% {
    color: red;
    transform: translateY(-5px) scale(0.9);
    opacity: 0.5;
  }
  100% {
    color: white;
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}
